NODE_ENV=development

API_GATEWAY_PORT=3000
PG_SERVICE_PORT=3001
MONGO_SERVICE_PORT=3002

PG_SERVICE_URL=http://pg-service:3001
MONGO_SERVICE_URL=http://mongo-service:3002

POSTGRES_DB=chat_backend
POSTGRES_USER=chat_user
POSTGRES_PASSWORD=chat_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://chat_user:chat_password@postgres:5432/chat_backend

MONGO_INITDB_ROOT_USERNAME=chat_admin
MONGO_INITDB_ROOT_PASSWORD=chat_password
MONGO_INITDB_DATABASE=chat_backend
MONGO_URI=mongodb://chat_admin:chat_password@mongo:27017/chat_backend?authSource=admin
